@model CAFE.Web.Models.Search.ResourceInfoModel

@{
    ViewBag.Title = "Resource info";
}


<div ng-app="search" ng-controller="SearchController" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" style="margin-left: auto; margin-right: auto; width: 100%; height: 100%;">
    <div class="panel panel-info halfwidedpanel" style="margin-top: 30px; margin-left: 15%; margin-right: 15%;">
        <div class="panel-heading">
            <h3 class="panel-title">Resource info</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="col-md-12 col-lg-12 ">
                        <h3><strong>Resource type: </strong>@Model.ResourceType</h3>
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>Title:</td>
                                    <td>@Model.Title</td>
                                </tr>
                                <tr>
                                    <td>Abstract:</td>
                                    <td>@Model.Abstract</td>
                                </tr>
                                <tr>
                                    <td>Owner:</td>
                                    <td>@Model.OwnerName</td>
                                </tr>
                                <tr>
                                    <td>Hosters:</td>
                                    <td>
                                        @foreach(var hoster in Model.Hosters)
                                        {
                                            <span>
                                                @hoster
                                            </span>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        @if(Model.Persons.Any())
                        {
                            <h5>Persons:</h5>
                        }
                        <div class="row">
                            @foreach(var person in Model.Persons)
                            {
                            <div class="col-sm-4">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Position:</td>
                                            <td>@person.Position</td>
                                        </tr>
                                        <tr>
                                            <td>Salutation:</td>
                                            <td>@person.Salutation</td>
                                        </tr>
                                        <tr>
                                            <td>GivenName:</td>
                                            <td>@person.GivenName</td>
                                        </tr>
                                        <tr>
                                            <td>Surname:</td>
                                            <td>@person.Surname</td>
                                        </tr>
                                        <tr>
                                            <td>Email:</td>
                                            <td>@person.Email</td>
                                        </tr>
                                        <tr>
                                            <td>Phone:</td>
                                            <td>@person.Phone</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            }
                        </div>
                    </div>
                    <div>
                        @if(Model.HasAccess)
                        {
                            <a href="@Model.Link" target="_blank" class="btn btn-primary">Open</a>
                        }
                        else
                        {
                            <a class="btn btn-primary" ng-click="requestAccessPredefined($event)">Access request</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{

<script>

    predefinedARItem = {};
    @if(!Model.HasAccess)
    {
    <text>
    predefinedARItem.itemType = '@Model.ResourceType';
    predefinedARItem.name = '@Model.Title';
    predefinedARItem.itemId = '@Model.Id';
    predefinedARItem.userId = '@Model.OwnerId';
    predefinedARItem.userName = '@Model.OwnerName';
    </text>
    }
	$(document).ready(function(e) {


    });
</script>

    @Scripts.Render("~/bundles/search/angular")
    @Scripts.Render("~/bundles/search/app")    
}