@model CAFE.Web.Models.Account.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<section class="container" id="loginForm">
    <section class="login-form-style">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "login-style" }))
            {
            <section>
                @Html.AntiForgeryToken()
                <h2 style="text-align: center;">Log In</h2>
                <div class="form-group">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="input-group" style="width: 100%;">
                        <div class="input-group-addon" style="width: 11%;"><i class="fa fa-user"></i></div>

                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Email", required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group" style="width: 100%;">
                        <div class="input-group-addon" style="width: 11%;"><i class="fa fa-key"></i></div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "required" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>

                <input type="submit" value="Enter" class="btn btn-block btn-primary" />
            </section>
            <div>
                @Html.ActionLink("Restore password", "ForgotPassword")
                @Html.ActionLink("Create account", "Register", "Register", new { style = "float: right;" })

            </div>
        }
    </section>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
